.success {
    width: 300px;
    height: 160px;
    margin: 20px auto;
    font-size: 25px;
    text-align: center;
    line-height: 160px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.fail {
    width: 300px;
    height: 160px;
    margin: 20px auto;
    color: indianred;
    font-size: 25px;
    text-align: center;
    line-height: 160px;
    background-color: #ffeee6;
    border: 1px solid #ffddcc;
    border-radius: 4px;
}